.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    width: 200px;
}

.status_li {
    display: flex;
    align-items: center;
}
.status_logo {
    height: 25px;
    width: 25px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    padding: 30px 20px;
}

.nav-items > ul > li {
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 250px;
    padding: 5px;
    margin: 5px;
    background: #f0f0f0;
    border-radius: 10px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.search {
    padding: 10px;
}

.res-logo {
    border-radius: 10px;
    width: 100% ;
    height: 250px;
}

.filter {
    display: flex;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
}
.shimmer-cards {
    margin: 20px;
    width: 200px;
    height: 400px;
    background-color: #f0f0f0f0;
}

.login-btn {
    padding: 0 20px;
    cursor: pointer;
}

.user-card {
    padding: 10px;
    border:  1px solid black;
}